venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store

trial_recordings/
Photo_Tests/
*.mp4
*.avi
*.mov

runs/
*.log

# json files
*.json

# Binary and Large Files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.pth
*.pt
*.onnx
*.engine
*.asc
*.tar.gz
*.csv
*.pdf
*.bin
*.weights
*.pth.tar

# Cache and logs
dev_tools/cache/
scout_logs/
logs/
bringup/logs/
SurveyPics/
training_photos*/
