# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Data & models
plant_dataset_crops/
data_collection/
*.pt
*.pth
torchvision/
torch_jetson.whl

# OS junk
.DS_Store

# Photos
training_photos/
*.jpg
*.jpeg

# Ignore folder named "Spaghetti"
Spaghetti/

*.tar
*.zip
*.pdf
captures/
*/calib_pairs/
Weeder_Workspace/Photo_Tests/figure_outputs/
*.tar
*.zip
*.pdf
captures/
*/calib_pairs/
Weeder_Workspace/Photo_Tests/figure_outputs/
